.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main.html' : 'index.html')
          i.nav-icon.icon-speedometer
          |  Dashboard
  button.sidebar-minimizer.brand-minimizer(type="button")